 * {
    box-sizing: border-box;
    margin: 0;
 }
 

.container {
    width: 1395px;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-columns: 2.78fr 1.22fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "nav nav"
      "header header"
      /*"accom-most accom-most"*/
      "accommodations aside"
      "activities activities"
      "footer footer";
}

/*Nav Bar*/
nav {
  grid-area: nav;
  margin: 15px;
  display: inline-block;
  width: 1395px;
}
nav img {
  float: left;
  margin-top: 20px;
  size: 23px;
}
nav ul {
  float: right;
}
nav ul li {
  float: left;
  list-style-type: none;
  padding: 40px 12px 12px 12px;
  margin-left: 50px;
  border-top: white solid 1px;
}
li a { 
  color: #1e90ff;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #1e90ff;
}
#Accommodations {
  color: #1e90ff;
  border-top: #2b5492 solid 1px;
  padding-top: 25px;
  font-weight: 100;
}
#Activities {
  color: #0c0c0c;
  padding-top: 25px;
  font-weight: 100;
}

#SignUp {
  color: #1e90ff;
  padding-top: 25px;
  font-weight: 300;
}

/*Header*/

header {
  grid-area: header;
  margin-left: 25px;
  width: 1395px;
}

h2 {
color: #000;
font-size: 20px;
margin-top: 2;
}

h6 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(99, 97, 97);
}
/*Search Bar*/


.wrapper {
  position: relative;
  display: flex;
  width: 230px;
  height: 40px;
  border: 1px solid rgb(224, 222, 222);

}

#mapcol {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: inherit;
  padding: 10px;
  background-color: #ececec;
  width: 40px;
}

.searchbutton {
  background-color: #0065FC;
  width: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: medium;
  color: white;
}


.searchinput,
.searchbutton {
  border-style: hidden;
}

/*Filter buttons*/

.filterwrap {
  display:flex;
  height: 60px;
  margin-top: 40px;
  width: auto;
}

#filtext {
  display: inline;
    margin-top: 12px;
    margin-right: 18px;
    font-size: 17px;
    font-weight: 50px;
    font-weight: 600;
}

.filter-button {
  height: 40px;
  width: auto;
  margin-right: 20px;
  border-radius: 50px;
  background-color: white;
  border-color: lightgray;
  text-align:center;
  font-weight: 600;
  font-size: medium;
  outline: none;
}

span {
  padding-right: 7px;
}

.fa-money-bill-wave {
  padding: 11px;
  background-color: lightblue;
  position: relative;
  left: -4px;
  top: -1px;
  border-radius: 55px;
}

.fa-child {
  padding: 11px 14px;
  background-color: lightblue;
  position: relative;
  left: -4px;
  top: -1px;
  border-radius: 55px;
}

.fa-heart {
  padding: 11px; 
  background-color: lightblue;
  position: relative;
  left: -4px;
  top: -1px;
  border-radius: 55px;
}

.fa-dog {
  padding: 11px;
  background-color: lightblue;
  position: relative;
  left: -4px;
  top: -1px;
  border-radius: 55px;
}

.information {
  display: flex;
  margin-bottom: 7px;

}
.fa-solid {
background-color: white;
color: #0065FC;
padding: 3px 8px;
border-radius: 100%;
border-color: lightgray;
border-style: solid;
}

#text-size-500 {
font-size: 15px;
margin-left: 7px;
padding-top: 5px;
}

.accom-most {
  display: grid;
  grid-template-columns: 1.5fr 1.1fr;
  grid-template-rows: 1fr;
  grid-area: "accommodations aside";
  gap: 30px;
}
/*.accommodations {
  grid-area: accommodations;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  color: rgb(99, 97, 97)
}*/
.accommodations {
  background-color: lightgray;
  border-style: hidden;
  width: 840px;
  border-radius: 1em;
  margin-left: 40px;
}

h3 {
  size: 40px;
  font-weight: 700;
  margin-left: 65px;
  padding-top: 25px;
  margin-bottom: 1.6rem;
}

.container-accm-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin-inline: 65px;
}

.cards {
  width: 220px;
  margin-right: 5px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
  height: 200px;
  
}

.cards img {
  width: 216px;
  height: 120px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

#cardtitle {
  margin-left: 12px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}

p {
  margin-left: 12px;
  font-size: 16px;
  margin-bottom: 5px;
}

.starsaccm {
  margin-left: 12px;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2.5px;
}

.fa.fa-star.checked, 
.fa.fa-star {
  font-size: 16px;
}

.checked {
  color: cornflowerblue;
}

.empty {
  color:rgb(224, 222, 222)
}

aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 20px;
}

.asidehead {
  margin-left: 5px;
}


.fas.fa-chart-line {
  font-size: 22px;
}


#text-show {
  margin-bottom: 22px;
  margin: 20px;
  margin-left: 65px;
  font-weight: 1000;
}
 
aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ececec;
  grid-template-rows: auto 1fr 1fr 1fr;
  border-radius: 20px;
  }

.asideheadicon {
  width: 350px; 
  display:inline-flex;
  justify-content: space-between;
  margin:25px 20px 10px;
}

#asidehead {
  font-size: larger;
  font-weight: 700;
}

/*.cards-most-popupar {
  display: inline-flexbox;
  
}*/

.card-aside {
  /*margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  width: 375px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
  height: 150px;*/
 /* margin: 10px 25px 25px;
    display: flex;
    width: 350px;
    /*flex-wrap: wrap;*/
   /* background-color: white;
    border-radius: 20px;*/

    margin: 10px 40px 25px 20px;
    height: 140px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 380px;
}

.card-aside img {
  width: 140px;
  height: 97%;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  float: left;
  align-self: auto;
  margin:3px;
}

.hdprstar {
  display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 7px;
    justify-content: space-around;
}

#hdhtaside {
  padding: 10px 20px 10px 0px;
  width: 250px;
  height:25px;
  font-size: 17px;
  font-weight: 900;
}

.stars {
  margin-left: 8px;
}

.activities {
  grid-area: activities;
  width: 1200px;
  height: 530px;
  padding: 30px;
  margin: 5px 40px 5px 20px;
}


.cards-activities {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 200px 200px;
 /* grid-template-areas:
  "oldport pomegues calanques   notred"
  "oldport frioul   calanques   longchamp";*/
  grid-gap: 30px;
  color: rgb(99, 97, 97);
 /* height: 530px;
  width: 1200px;*/
}

.cards-activities1 {
  grid-area: oldport;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: white;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 472px;
  border-radius: 20px;
}

.cards-activities1 img {
  width: 300px;
  height: 430px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit:cover;
}

h4 {
  margin: 8px 0px 0px 50px;
  font-weight:bolder;
}


.cards-activities2 {
grid-area: pomegues;
grid-column: 2 / 3;
grid-row: 1 / 2;
background-color: white;
border-style: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
height: 220px;
border-radius: 20px;
}

.cards-activities2 img {
  width: 300px;
  height: 180px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit:cover;
}


.cards-activities3 {
grid-area: frioul;
grid-column: 2 / 3;
grid-row: 2 / 3;
background-color: white;
border-style: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
height: 220px;
border-radius: 20px;
margin-top: 20px;
}

.cards-activities3 img {
  width: 300px;
  height: 180px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit:cover;
}

.cards-activities4 {
 grid-area: calanques;
 grid-column: 3 / 4;
 grid-row: 1 / 3;
 background-color: white;
 border-style: none;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 height: 472px;
 border-radius: 20px;

}

.cards-activities4 img {
  width: 300px;
  height: 430px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit:cover;
}

.cards-activities5 {
grid-area:  notred;
grid-column: 4 / 5;
grid-row: 1 / 2;
background-color: white;
border-style: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
height: 220px;
border-radius: 20px;
}

.cards-activities5 img {
  width: 300px;
  height: 180px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit:cover;
}
 
.cards-activities6 {
grid-area: longchamp;
grid-column: 4 / 5;
grid-row: 2 / 3;
background-color: white;
border-style: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
height: 220px;
border-radius: 20px;
margin-top: 20px;
}

.cards-activities6 img {
  width: 300px;
  height: 180px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit:cover;
}

/*footer {
  display: flex;
  direction: ltr;
  justify-content:space-evenly;
  margin-top: 50px;
  background-color: lightgray;

}*/

.indent {
  margin-left: 65px;
  margin-bottom: 30px;
}

footer {
  display: grid;
  width: 1385px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "ftabt ftoaccoms ftasst";
  grid-gap: 30px;
  background-color: lightgray;
  margin-top: 90px;
}

.footer-about {
  grid-area: ftabt;
}

.footer-our-accoms {
  grid-area: ftoaccoms;
}

.footer-assist {
  grid-area: ftasst;
}

/*footer {
  background-color: #ececec;
  grid-area: footer;
  display: flex;
  margin-top: 40px;
}*/

